{{ 'project.css' | asset_url | stylesheet_tag }}

<div class="project">
  <div class="project__container">
    {% for block in section.blocks %}
      <div class="project__cards">
        <div class="project__image">
          <picture>
            <source media="(min-width:1440px)" srcset="{{block.settings.project_image.src |  image_url: width: 437, height: 437 }}">
            <source media="(min-width:1024px)" srcset="{{block.settings.project_image.src |  image_url: width: 240, height: 320 }}">
            <source media="(min-width:465px)" srcset="{{block.settings.project_image.src |  image_url: width: 170, height: 160 }}">
            <img src="{{block.settings.project_image.src |  image_url: width: 170, height: 160 }}" alt="">
          </picture>
        </div>
        <div class="project__details">
          <div class="project__details-location">{{ block.settings.project_location }}</div>
          <div class="project__details-name">{{ block.settings.project_name }}</div>
          <div class="project__details-description">{{ block.settings.project_description }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Projects",
    "settings": [
      {
        "id": "projects",
        "type": "text",
        "label": "Projects"
      }
    ],
    "blocks": [
      {
        "name": "projects",
        "type": "projects",
        "settings": [
          {
            "id": "project_image",
            "label": "Project Image",
            "type": "image_picker"
          }, {
            "id": "project_location",
            "label": "Project Location",
            "type": "text"
          }, {
            "id": "project_name",
            "label": "Project Name",
            "type": "text"
          }, {
            "id": "project_description",
            "label": "Project Description",
            "type": "textarea"
          }
        ]
      }
    ]
  }
{% endschema %}