{{ 'footer.css' | asset_url | stylesheet_tag }}
<div class="footer">
  <div class="footer__content">
    <div class="footer__content-email-store">
      <div class="footer__content-email">
        <div class="footer__content-email__container">
          <div class="footer__content-email__title">{{ section.settings.title }}</div>
          <div class="footer__content-email__box">
            <span class="footer__content-email__label">{{ section.settings.email_title }}</span>
            <button class="footer__content-email__button">
              <span class="footer__content-email__icon">&#8250</span>
            </button>
          </div>
        </div>
        <div class="footer__content-store">
          <div class="footer__content-store__apple">
            <span>{{ section.settings.store_apple }}</span>
          </div>
          <div class="footer__content-store__android">
            <span>{{ section.settings.store_android }}</span>
          </div>
        </div>
      </div>
      <div class="footer__content-about-support">
        <div class="footer__content-about">
          <div class="footer__content-about__title">{{ section.settings.about_title }}</div>
          <div class="footer__content-about__items">
            {% assign about_items_cleaned = section.settings.about_items | replace: ',', '\n' %}
            {% assign about_items_array = about_items_cleaned | split: '\n' %}
            {% for item in about_items_array %}
              <span>{{ item }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="footer__content-support">
          <div class="footer__content-support__title">{{ section.settings.support_title }}</div>
          <div class="footer__content-support__items">
            {% assign support_items_cleaned = section.settings.support_items | replace: ',', '\n' %}
            {% assign support_items_array = support_items_cleaned | split: '\n' %}
            {% for item in support_items_array %}
              <span>{{ item }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="footer__content-socials">
      <div class="footer__content-socials__logo">
        <img src="{{ section.settings.socials_logo | image_url: width: 80, height: 40 }}" alt="Logo">
        <span>{{ section.settings.socials_logo_text }}</span>
      </div>
      <div class="footer__content-socials__icons">
        {% for block in section.blocks %}
          <a href="{{ block.settings.icon_link }}" target="_blank">
            <img src="{{ block.settings.icon_image.src | image_url: width: 24, height: 24 }}" alt="Social Icon">
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="footer__content-disclaimer">
      <div class="footer__content-disclaimer__description">
        <p>{{ section.settings.disclaimer_text }}</p>
      </div>
      <div class="footer__content-disclaimer__links">
        <div class="footer__content-disclaimer__country">
          <img src="{{ section.settings.country_flag | image_url: width: 20, height: 10 }}" alt="Country Flag">
          <span>{{ section.settings.country }}</span>
        </div>
        <div class="footer__content-disclaimer__content">
          {% assign disclaimer_items_cleaned = section.settings.disclaimer_items | replace: ',', '\n' %}
          {% assign disclaimer_items_array = disclaimer_items_cleaned | split: '\n' %}
          {% for item in disclaimer_items_array %}
            <span>{{ item }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "id": "title",
        "label": "Title",
        "type": "text",
        "default": "Default Title"
      },
      {
        "id": "email_title",
        "label": "Email Title",
        "type": "text",
        "default": "Enter your email"
      },
      {
        "id": "store_apple",
        "label": "Apple Store Text",
        "type": "text",
        "default": "Download on the App Store"
      },
      {
        "id": "store_android",
        "label": "Google Play Text",
        "type": "text",
        "default": "GET IT ON Google Play"
      }, {
        "id": "about_title",
        "label": "About Title",
        "type": "text",
        "default": "About"
      }, {
        "id": "about_items",
        "label": "About Items",
        "type": "textarea"
      }, {
        "id": "support_title",
        "label": "Support Title",
        "type": "text",
        "default": "Support"
      }, {
        "id": "support_items",
        "label": "Support Items",
        "type": "textarea"
      }, {
        "id": "socials_logo_text",
        "label": "Socials Logo Text",
        "type": "text",
        "default": "&copy 2023 New Era Cap"
      }, {
        "id": "socials_logo",
        "label": "Logo",
        "type": "image_picker"
      }, {
        "id": "disclaimer_text",
        "label": "Disclaimer Text",
        "type": "textarea",
        "default": "All rights reserved. Product name, logos, visor stickers are New Era Trademarks: All other marks are trademarks for their owners. Nothing on this site may be copied without written permission."
      }, {
        "id": "country_flag",
        "label": "Country Flag",
        "type": "image_picker"
      }, {
        "id": "country",
        "label": "Country",
        "type": "text",
        "default": "USA"
      }, {
        "id": "disclaimer_items",
        "label": "Disclaimer Items",
        "type": "textarea"
      }
    ],
    "blocks": [
      {
        "type": "social_icon",
        "name": "Social Icon",
        "settings": [
          {
            "id": "icon_image",
            "type": "image_picker",
            "label": "Icon Image"
          }, {
            "id": "icon_link",
            "type": "url",
            "label": "Icon Link"
          }
        ]
      }, {
        "type": "footer_link",
        "name": "Footer Link",
        "settings": [
          {
            "id": "link_text",
            "type": "text",
            "label": "Link Text"
          }, {
            "id": "link_url",
            "type": "url",
            "label": "Link URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Default",
        "category": "Footer",
        "blocks": [
          {
            "type": "social_icon"
          }, {
            "type": "footer_link"
          }
        ]
      }
    ]
  }
{% endschema %}