{{ 'footer.css' | asset_url | stylesheet_tag }}
<div class="footer">
  <div class="footer__content">
    <div class="footer__content-email-store">
      <div class="footer__content-email">
        <div class="footer__content-email__container">
          <div class="footer__content-email__title">{{ section.settings.title }}</div>
          <div class="footer__content-email__box">
            <label for="footer-email" class="footer__content-email__label">{{ section.settings.email_title }}</label>
            <input 
              type="text" 
              class="footer__content-email__input" 
              placeholder="{{ section.settings.email_title }}"
              aria-label="{{ section.settings.email_title }}"
            >
            <button class="footer__content-email__button">
              <span class="footer__content-email__icon">&#8250</span>
            </button>
          </div>
        </div>
        <div class="footer__content-store">
          <div class="footer__content-store__apple">
            <span>{{ section.settings.store_apple }}</span>
          </div>
          <div class="footer__content-store__android">
            <span>{{ section.settings.store_android }}</span>
          </div>
        </div>
      </div>
      <div class="footer__content-about-support">
        <div class="footer__content-about">
          <div class="footer__content-about__title">{{ section.settings.about_title }}</div>
          <div class="footer__content-about__items">
            
              {% for link in linklists[section.settings.about].links %}
                <a href="{{ link.url }}" class="footer__content-about__link">{{ link.title }}</a>
              {% endfor %}
      
          </div>
        </div>
        <div class="footer__content-support">
          <div class="footer__content-support__title">{{ section.settings.support_title }}</div>
          <div class="footer__content-support__items">
            {% for link in linklists[section.settings.support].links %}
              <a href="{{ link.url }}" class="footer__content-about__link">{{ link.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="footer__content-socials">
      <div class="footer__content-socials__logo">
        <a href="{{settings.logo_url}}">
          <img
            src="{{ settings.secondary_logo  | image_url: width: 80, height: 40 }}"
            alt="Logo"
            height=""
            width="">
        </a>
        <span class="copyright-date" >&copy; {{'now' | date:"%Y"}} {{ section.settings.socials_logo_text }}</span>
      </div>
      <div class="footer__content-socials__icons">
        {% for block in section.blocks %}
          <a href="{{ settings.socials_link }}" target="_blank">
            <img
              src="{{ block.settings.icon_image.src | image_url: width: 24, height: 24 }}"
              alt="Social Icon"
              height=""
              width="">
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="footer__content-disclaimer">
      <div class="footer__content-disclaimer__description">
        <p>{{ section.settings.disclaimer_text }}</p>
      </div>
      <div class="footer__content-disclaimer__links">
        <div class="footer__content-disclaimer__country">
          <img
            src="{{ section.settings.country_flag | image_url: width: 20, height: 10 }}"
            alt="Country Flag"
            height=""
            width="">
          <span>{{ section.settings.country }}</span>
        </div>
        <div class="footer__content-disclaimer__content">
          
            {% for link in linklists[section.settings.disclaimer].links %}
              <a href="{{ link.url }}" class="footer__content-disclaimer__link">{{ link.title }}</a>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "id": "title",
        "label": "Title",
        "type": "text",
        "default": "Default Title"
      },
      {
        "id": "email_title",
        "label": "Email Title",
        "type": "text",
        "default": "Enter your email"
      },
      {
        "id": "store_apple",
        "label": "Apple Store Text",
        "type": "text",
        "default": "Download on the App Store"
      },
      {
        "id": "store_android",
        "label": "Google Play Text",
        "type": "text",
        "default": "GET IT ON Google Play"
      }, {
        "id": "about_title",
        "label": "About Title",
        "type": "text",
        "default": "About"
      }, {
        "id": "about",
        "label": "About Menu",
        "type": "link_list"
      },{
        
        "type": "link_list",
        "id": "support",
        "label": "Support Menu"
      
      }, {
        "id": "support_title",
        "label": "Support Title",
        "type": "text",
        "default": "Support"
      }, {
        "id": "socials_logo_text",
        "label": "Socials Logo Text",
        "type": "text",
        "default": " New Era Cap"
      }, {
        "id": "socials_logo",
        "label": "Logo",
        "type": "image_picker"
      }, {
        "id": "disclaimer_text",
        "label": "Disclaimer Text",
        "type": "textarea",
        "default": "All rights reserved. Product name, logos, visor stickers are New Era Trademarks: All other marks are trademarks for their owners. Nothing on this site may be copied without written permission."
      }, {
        "id": "country_flag",
        "label": "Country Flag",
        "type": "image_picker"
      }, {
        "id": "country",
        "label": "Country",
        "type": "text",
        "default": "USA"
      }, {
        "id": "disclaimer",
        "label": "Disclaimer Menu",
        "type": "link_list"
      }
    ],
    "blocks": [
      {
        "type": "social_icon",
        "name": "Social Icon",
        "settings": [
          {
            "id": "icon_image",
            "type": "image_picker",
            "label": "Icon Image"
          }, {
            "id": "icon_link",
            "type": "url",
            "label": "Icon Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Default",
        "blocks": [
          {
            "type": "social_icon"
          }
        ]
      }
    ]
  }
{% endschema %}