{{ 'footer.css' | asset_url | stylesheet_tag }}
<footer class="footer">
  <div class="footer__content">
    <section class="footer__content-email-store">
      <div class="footer__content-email">
        <div class="footer__content-email__container">
          <h2 class="footer__content-email__title">{{ section.settings.title }}</h2>
          <div class="footer__content-email__box">
            {%- form 'customer', class: 'footer__content-email__form' -%}
              <label for="footer-email" class="footer__content-email__label">{{ section.settings.email_title }}</label>
              <input
                id="footer-email"
                type="email"
                name="contact[email]"
                class="footer__content-email__input"
                placeholder="{{ section.settings.email_title }}"
                aria-label="{{ section.settings.email_title }}"
                required>

              <button type="submit" class="footer__content-email__button">
                {% render 'icon-chevron-right' %}
                <span class="footer__content-email__button-text">Submit Email</span>
              </button>
            {%- endform -%}
          </div>
        </div>

        <div class="footer__content-store">
          <div class="footer__content-store__apple">
            <picture>
              <source
                srcset="{{ section.settings.apple_store.src | image_url: width: 500 }} 500w,
                        {{ section.settings.apple_store.src | image_url: width: 400 }} 400w"
                media="(min-width: 1025px)"
                sizes="172px">

              <source
                srcset="{{ section.settings.apple_store.src | image_url: width: 375 }} 375w,
                        {{ section.settings.apple_store.src | image_url: width: 300 }} 300w"
                media="(max-width: 1024px)"
                sizes="172px">

              <img
                class="footer__content-store__img"
                src="{{ section.settings.apple_store.src | image_url: width: 400 }}"
                alt="Apple Store"
                loading="lazy"
                height="50"
                width="172" />
            </picture>
          </div>

          <div class="footer__content-store__android">
            <picture>
              <source
                srcset="{{ section.settings.google_play.src | image_url: width: 500 }} 500w,
                        {{ section.settings.google_play.src | image_url: width: 400 }} 400w"
                media="(min-width: 1025px)"
                sizes="115px">

              <source
                srcset="{{ section.settings.google_play.src | image_url: width: 375 }} 375w,
                        {{ section.settings.google_play.src | image_url: width: 300 }} 300w"
                media="(max-width: 1024px)"
                sizes="172px">

              <img
                class="footer__content-store__img"
                src="{{ section.settings.google_play.src | image_url: width: 400 }}"
                alt="Google Play"
                loading="lazy"
                height="50"
                width="172" />
            </picture>
          </div>
        </div>
      </div>

      <nav class="footer__content-about-support">
        <section class="footer__content-about">
          <h3 class="footer__content-about__title">{{ section.settings.about.title }}</h3>
          <div class="footer__content-about__items">
            {% for link in linklists[section.settings.about].links %}
              <a href="{{ link.url }}" class="footer__content-about__link">{{ link.title }}</a>
            {% endfor %}
          </div>
        </section>

        <section class="footer__content-support">
          <h3 class="footer__content-support__title">{{ section.settings.support.title }}</h3>
          <div class="footer__content-support__items">
            {% for link in linklists[section.settings.support].links %}
              <a href="{{ link.url }}" class="footer__content-about__link">{{ link.title }}</a>
            {% endfor %}
          </div>
        </section>
      </nav>
    </section>

    <div class="footer__content-socials">
      <div class="footer__content-socials__logo">
        <a href="{{settings.logo_url}}">
          <img
            src="{{ settings.secondary_logo  | image_url: width: 80, height: 40 }}"
            alt="{{shop.name}} Logo"
            height="40"
            width="80">
        </a>

        <span class="copyright-date">&copy; {{ 'now' | date: "%Y" }} {{ section.settings.socials_logo_text }}</span>
      </div>

      <div class="footer__content-socials__icons">
        {% assign social_platforms = settings.social_media_names | downcase | split: ',' %}
          {% for platform in social_platforms %}
          {% assign cleaned_platform = platform | strip %}

          {% assign link_setting = "social_" | append: cleaned_platform | append: "_link" %}
          {% assign icon_setting = cleaned_platform | append: "_icon" %}

          {% comment %} Check if both the link and icon are provided {% endcomment %}
          {% if settings[link_setting] != blank and settings[icon_setting] != blank %}
            <a
              href="{{ settings[link_setting] }}"
              target="_blank"
              class="social-icon">
              <img
                src="{{ settings[icon_setting] | image_url: width: 24, height: 24 }}"
                alt="{{ cleaned_platform | capitalize }}"
                height="24"
                width="24">
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <section class="footer__content-disclaimer">
      <div class="footer__content-disclaimer__description">
        <p>{{ section.settings.disclaimer_text }}</p>

      </div>

      <div class="footer__content-disclaimer__links">
        <div class="footer__content-disclaimer__country">
          <img
            src="{{ section.settings.country_flag | image_url: width: 20, height: 10 }}"
            alt="Country Flag"
            height="10"
            width="20">
          <label class="footer__content-disclaimer__country-label">{{ section.settings.country }}</label>
          <select class="footer__content-disclaimer__country-select">
            {% for i in (1..3) %}
              <option class="footer__content-disclaimer__country-select__option" value="{{ section.settings.country }}">{{ section.settings.country }}</option>
            {% endfor %}
          </select>

        </div>
        <div class="footer__content-disclaimer__content">

          {% for link in linklists[section.settings.disclaimer].links %}
            <a href="{{ link.url }}" class="footer__content-disclaimer__link">{{ link.title }}</a>
          {% endfor %}
        </div>
      </div>

    </section>
  </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "id": "title",
        "label": "Title",
        "type": "text",
        "default": "Default Title"
      },
      {
        "id": "email_title",
        "label": "Email Title",
        "type": "text",
        "default": "Enter your email"
      },
      {
        "id": "apple_store",
        "label": "Apple Store",
        "type": "image_picker"
      },
      {
        "id": "google_play",
        "label": "Google Play",
        "type": "image_picker"
      },
      {
        "id": "about",
        "label": "About Menu",
        "type": "link_list"
      },
      {

        "id": "support",
        "label": "Support Menu",
        "type": "link_list"

      },
      {
        "id": "disclaimer",
        "label": "Disclaimer Menu",
        "type": "link_list"
      },
      {
        "id": "socials_logo_text",
        "label": "Socials Logo Text",
        "type": "text",
        "default": " New Era Cap"
      },
      {
        "id": "disclaimer_text",
        "label": "Disclaimer Text",
        "type": "textarea",
        "default": "All rights reserved. Product name, logos, visor stickers are New Era Trademarks: All other marks are trademarks for their owners. Nothing on this site may be copied without written permission."
      },
      {
        "id": "country_flag",
        "label": "Country Flag",
        "type": "image_picker"
      },
      {
        "id": "country",
        "label": "Country",
        "type": "text",
        "default": "USA"
      }
    ]
  }
{% endschema %}