{{ "section-hero.css" | asset_url | stylesheet_tag }}
<div class="hero">
  <div class="hero__wrapper">
    <div class="hero__content">
      <div class="hero__content-first">
        <span class="hero__content-first-title">{{ section.settings.title_first }}</span>
        <div class="hero__description">
          <div class="hero__description-text">{{ section.settings.description }}</div>
          <div class="hero__description-button">
            <a href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
          </div>
        </div>
      </div>
      <div class="hero__content-second">{{ section.settings.title_second }}</div>
      <div class="hero__content-third">{{ section.settings.title_third }}</div>
    </div>

  </div>
  <div>
    <div class="hero__description-small">
      <div class="hero__description-text">{{ section.settings.description }}</div>
      <div class="hero__description-button">
        <a href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image Banner",
    "settings": [
      {
        "type": "text",
        "id": "title_first",
        "label": "Title First"
      },
      {
        "type": "text",
        "id": "title_second",
        "label": "Title Second"
      },
      {
        "type": "text",
        "id": "title_third",
        "label": "Title Third"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}