{{ "section-hero.css" | asset_url | stylesheet_tag }}
<div class="hero">
  <div class="hero__wrapper">
    <div class="hero__content">
      <div class="hero__content-first">
        <span class="hero__content-first-title">{{ section.settings.title_first }}</span>
        <div class="hero__description">
          <div class="hero__description-text">{{ section.settings.description }}</div>
          <div class="hero__description-button">
            <a href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
          </div>
        </div>
      </div>
      <div class="hero__content-second">{{ section.settings.title_second }}</div>
      <div class="hero__content-third">{{ section.settings.title_third }}</div>
    </div>

  </div>
  <div>
    <div class="hero__description-small">
      <div class="hero__description-text">{{ section.settings.description }}</div>
      <div class="hero__description-button">
        <a href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "id": "title_first",
        "label": "Title First",
        "default": "Global"
      },
      {
        "type": "text",
        "id": "title_second",
        "label": "Title Second",
        "default": "Design"
      },
      {
        "type": "text",
        "id": "title_third",
        "label": "Title Third",
        "default": "Projects"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet consectetur. Purus pharetra mi id at proin integer sed in. Lorem ipsum dolor sit amet consectetur. Purus pharetra mi id at proin integer sed in. "
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop All Projects"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}