{{ "section-hero.css" | asset_url | stylesheet_tag }}
{{ "scroll.js" | asset_url | script_tag }}
<div class="hero">
  <div class="hero__content">
  <div id="content-first" class="hero__content-first">{{ section.settings.title_first }}</div>
  <div id="content-second" class="hero__content-second">{{ section.settings.title_second }}</div>
  <div id="content-third" class="hero__content-third">{{ section.settings.title_third }}</div>
</div>
  <div class="hero__description">
    <span class="hero__description-text">{{ section.settings.description }}</span>
    <button class="hero__description-button">
      <a href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
    </button>
  </div>
</div>

{% schema %}
  {
    "name": "Image Banner",
    "settings": [
      {
        "type": "text",
        "id": "title_first",
        "label": "Title First"
      },
      {
        "type": "text",
        "id": "title_second",
        "label": "Title Second"
      },
      {
        "type": "text",
        "id": "title_third",
        "label": "Title Third"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
    },{
      "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}
