{%- style -%}
    .leadspace {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .cover-image {
        width: 100%;
        height: 60%;
        object-fit: fill;
    }

    .container {
        max-width: 80%;
        height: 80%;
        position: absolute;
        bottom: 0;
        border-radius: 25px;
        background-color: #102116;
        overflow: hidden;
    }

    .image-container {
        position: absolute;
        bottom: 0;
        right: 1rem;
        z-index: 1;
        height: 50%;

        .content-image {
            height: 100%;
        }
    }

    .content {
        width: 100%;
        height: 100%;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        .title {
            font-weight: 700;
            font-size: clamp(5rem, 10vw, 10rem);
            line-height: 100%;
            color: #FFF;
            text-transform: uppercase;
        }

        .subtitle {
            font-weight: 400;
            font-size: clamp(1.25rem, 10vw,1.5rem);
            line-height: 120%;
            color: #FFF;
            flex-grow: 1;
        }

        .btn-shop {
            background-color: #FFF;
            text-decoration: none;
            color: #000;
            padding: 1rem 2rem;
            border-radius: 3.5rem;
            width: max-content;
            align-self: end;

            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2rem;
            text-align: center;
        }
    }

    @media screen and (min-width: 768px) {
        .container {
            left: 50%;
            transform: translateX(-50%);
        }

        .image-container {
            height: 100%;
        }

        .content {
            width: 50%;
            padding: 3rem;

            .btn-shop {
                padding: 1rem 5rem;
                align-self: start;
            }
        }
    }
{% endstyle %}

<img class="cover-image" src="{{ section.settings.cover_image |  image_url: width:3000, height: 3000 }}" alt="{{ section.settings.image }}">

<div class="container">
    {% for block in section.blocks %}
        {%- case block.type -%}
            {%- when "leadspace_content" -%}
                <div class="content">
                    <h1 class="title">{{ block.settings.title }}</h1>
                    <p class="subtitle">{{ block.settings.paragraph }}</p>
                    <a href="{{ block.settings.button_link }}" target="_blank" class="btn-shop">
                        {{ block.settings.button_label }}
                    </a>
                </div>

                <div class="image-container">
                    <img class="content-image" src="{{ block.settings.image |  image_url: width:100, height: 100  }}" alt="{{ block.settings.image }}">
                </div>
        {%- endcase -%}
    {% endfor %}
</div>

{% schema %}
{
    "name": "Leadspace",
    "tag": "section",
    "class": "leadspace",
    "settings": [
        {
            "type": "image_picker",
            "id": "cover_image",
            "label": "Cover Image",
        }
    ],
    "blocks": [
        {
            "type": "leadspace_content",
            "name": "Leadspace Content",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "paragraph",
                    "label": "Paragraph"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button Label"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Leadspace"
        }
    ]
}
{% endschema %}