{{ 'section-past-projects.css' | asset_url | stylesheet_tag }}
<div class="pastprojects">
  <div class="pastprojects__container">
    <div class="pastprojects__title">
      {{ section.settings.title }}
    </div>
    <div class="pastprojects__description-container">
      <div class="pastprojects__description">
        {{ section.settings.description }}
      </div>
      <div class="pastprojects__button">
        <a href="{{ section.settings.button_url }}">{{ section.settings.button }}</a>
      </div>
    </div>
  </div>
  <div class="pastprojects__projects-container">
    {% assign total_images = section.blocks.size %}
    {% assign repeat_count = 16 | divided_by: total_images | ceil %}

    {% for i in (1..repeat_count) %}
      {% for image in section.blocks %}
        <div class="pastprojects__project">
          <img src="{{image.settings.projects_image | image_url: width:120, height:120}}" alt="">
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Past Projects",
    "settings": [
      {
        "id": "title",
        "label": "Title",
        "type": "text"
      }, {
        "id": "description",
        "label": "Description",
        "type": "text"
      }, {
        "id": "button",
        "label": "Button",
        "type": "text"
      }, {
        "id": "button_url",
        "label": "Button URL",
        "type": "url"
      }

    ],
    "blocks": [
      {
        "name": "Past Projects",
        "type": "past_projects",
        "settings": [
          {
            "id": "projects_image",
            "label": "Project Image",
            "type": "image_picker"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Past Projects"
      }
    ]
  }
{% endschema %}