{{ 'section-past-projects.css' | asset_url | stylesheet_tag }}
<div class="pastprojects" style="background-color:{{section.settings.background_color}}">
  <div class="pastprojects__container">
    <div class="pastprojects__title" >
      {{ section.settings.title }}
    </div>

    <div class="pastprojects__description-container">
      <div class="pastprojects__description">
        {{ section.settings.description }}
      </div>
      <div class="pastprojects__button">
        <a href="{{ section.settings.button_url }}">{{ section.settings.button }}</a>
      </div>
    </div>
  </div>

  <div class="pastprojects__projects-container marquee">
    {% assign total_images = section.blocks.size %}
    {% assign repeat_count = 16 | divided_by: total_images | ceil %}
    {% assign images = section.blocks %}
    {% assign marquee_count = 3 %}

    {% for marquee in (1..marquee_count) %}
      <div
        class="marquee__content"
        {% if marquee > 1 %}
        aria-hidden="true"
        {% endif %}>
        {% for i in (1..repeat_count) %}
          {% for block in images %}
            {% assign image = block.settings.projects_image %}
            {% if image != blank %}
              <div class="pastprojects__project">
              <img
                src="{{ image | image_url: width:200, height:200 }}"
                loading="{% if marquee == 1 and forloop.index < 8 %}eager{% else %}lazy{% endif %}"
                width="120"
                height="120"
                alt="{{ image.alt | escape }}">
            </div>
            {%endif%}
          {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Past Projects",
    "settings": [
      {
        "id": "title",
        "label": "Title",
        "type": "text",
        "default":"Past Projects"
      }, {
        "id": "description",
        "label": "Description",
        "type": "text",
        "default":"Shop all 402 products what we’ve built over the past 4 years with the Global Design Project"
      }, {
        "id": "button",
        "label": "Button",
        "type": "text",
        "default":"Shop All Projects"
      }, {
        "id": "button_url",
        "label": "Button URL",
        "type": "url"
      },{
        "type": "header",
        "content":"Styles",
        "info":"Select Styles"
      },{
        "id": "background_color",
        "label": "Background Color",
        "type": "select",
        "default": "#f1f1f1",
        "options": [
          {
            "value": "#f1f1f1",
            "label": "Default"
          }, {
            "value": "#E9e5e2",
            "label": "Off White"
          }, {
            "value": "#a8a8a8",
            "label": "Gray"
          }
        ]
      }

    ],
    "blocks": [
      {
        "name": "Past Projects",
        "type": "past_projects",
        "settings": [
          {
            "id": "projects_image",
            "label": "Project Image",
            "type": "image_picker"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Past Projects"
      }
    ]
  }
{% endschema %}