{{ 'section-past-projects.css' | asset_url | stylesheet_tag }}
<div class="pastprojects">
  <div class="pastprojects__container">
    <div class="pastprojects__title">
      {{ section.settings.title }}
    </div>
    <div class="pastprojects__description-container">
      <div class="pastprojects__description">
        {{ section.settings.description }}
      </div>
      <div class="pastprojects__button">
        <a href="{{ section.settings.button_url }}">{{ section.settings.button }}</a>
      </div>
    </div>
  </div>
  <div class="pastprojects__projects-container marquee">
    {% assign total_images = section.blocks.size %}
    {% assign repeat_count = 16 | divided_by: total_images | ceil %}
    {% assign images = section.blocks %}
    {% assign marquee_count = 3 %}

    {% for marquee in (1..marquee_count) %}
      <div class="marquee__content"{% if marquee > 1 %} aria-hidden="true"{% endif %}>
        {% for i in (1..repeat_count) %}
          {% for block in images %}
            {% assign image = block.settings.projects_image %}
            <div class="pastprojects__project">
              <img src="{{ image | image_url: width:120, height:120 }}" 
                   width="120" 
                   height="120" 
                   alt="{{ image.alt | escape }}">
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Past Projects",
    "settings": [
      {
        "id": "title",
        "label": "Title",
        "type": "text"
      }, {
        "id": "description",
        "label": "Description",
        "type": "text"
      }, {
        "id": "button",
        "label": "Button",
        "type": "text"
      }, {
        "id": "button_url",
        "label": "Button URL",
        "type": "url"
      }

    ],
    "blocks": [
      {
        "name": "Past Projects",
        "type": "past_projects",
        "settings": [
          {
            "id": "projects_image",
            "label": "Project Image",
            "type": "image_picker"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Past Projects"
      }
    ]
  }
{% endschema %}