{{ 'section-richtext.css' | asset_url | stylesheet_tag }}

<div class="richtext">
  {% for block in section.blocks %}

    <div class="richtext__container">
      {% if block.settings.brand_image.src %}
        <picture>
          <source srcset="{{ block.settings.brand_image.src | image_url: width:1100, height:1100 }}" media="(min-width: 1440px)">
          <source srcset="{{ block.settings.brand_image.src | image_url: width:800, height:800 }}" media="(min-width: 1024px)">
          <source srcset="{{ block.settings.brand_image.src | image_url: width:600, height:600 }}" media="(min-width: 768px)">
          <source srcset="{{ block.settings.brand_image.src | image_url: width:500, height:500 }}" media="(min-width: 425px)">
          <source srcset="{{ block.settings.brand_image.src | image_url: width:358, height:358 }}" media="(min-width: 375px)">
          <img
            class="richtext__image"
            src="{{ block.settings.brand_image.src | image_url: width:358, height:358 }}"
            alt="Brand Image"
            height=""
            width="">
        </picture>
      {% endif %}
      <div class="richtext__description" style="position: absolute; {{ block.settings.description_position }}; {% if block.settings.description_position contains 'right' %}margin-left: auto; text-align: right; width: fit-content;{% endif %}">
        {% if block.settings.country != blank %}
          <div class="richtext__description-country">
            {% if block.settings.country_icon %}
              <div class="richtext__description-country-icon">
                <img
                  src="{{ block.settings.country_icon.src |  image_url: width: 12, height: 12 }}"
                  alt=""
                  width=""
                  height="">
              </div>
            {% endif %}
            {% if block.settings.country %}
              <span class="richtext__description-country-text">{{ block.settings.country }}</span>
            {% endif %}
          </div>
        {% endif %}
        {% if block.settings.name != blank %}
          <div class="richtext__description-name">{{ block.settings.name }}</div>
        {% endif %}
        {% if block.settings.first_button or block.settings.second_button %}
          <div class="richtext__description-btn-container">
            {% if block.settings.first_button != blank %}
              <button class="richtext__description-btn">{{ block.settings.first_button }}</button>
            {% endif %}
            {% if block.settings.second_button != blank %}
              <button class="richtext__description-btn">{{ block.settings.second_button }}</button>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="richtext__signature">
        <picture>
          {% if block.settings.signature %}
            <source srcset="{{ block.settings.signature.src |  image_url: width: 355, height: 138 }}" media="(min-width: 1024px)">
            <img
              src="{{ block.settings.signature.src | image_url: width: 133, height: 52 }}"
              height=""
              width="">
          {% endif %}
        </picture>
      </div>
    </div>

  {% endfor %}
</div>


{% schema %}
  {
    "name": "Brand",
    "settings": [],
    "blocks": [
      {
        "name": "Brand",
        "type": "Brand",
        "settings": [
          {
            "id": "brand_image",
            "label": "Pick Image",
            "type": "image_picker"
          },
          {
        "id":"description_position",
        "label":"Select the position of the description",
        "type":"select",
        "default":"bottom:16px;left:16px",
        "options":[
          {
            "value": "top:16px;left:16px",
            "label": "Top Left"
            },
            {
              "value":"top:50%;left:16px;width:fit-content;",
              "label":"Center Left"
            },{
              "value": "bottom:16px;left:16px",
              "label": "Bottom Left"
            },
            
            {
            "value": "top:16px;right:16px;width:fit-content;",
            "label": "Top Right"
          },
          {
            "value":"top:50%;right:16px;width:fit-content;",
            "label":"Center Right"
          },
          {
            "value": "bottom:16px;right:16px;width:fit-content;",
            "label": "Bottom Right"
          }
          
        ]
      },
          {
            "id": "country",
            "label": "Country",
            "type": "text",
            "default": "Nepal"
          },
          {
            "id": "country_icon",
            "label": "Country Icon",
            "type": "image_picker"
          }, {
            "id": "signature",
            "label": "Signature",
            "type": "image_picker"
          }, {
            "id": "name",
            "label": "Name",
            "type": "text",
            "default": "EMEA Ft CJ Wallace"
          }, {
            "id": "first_button",
            "label": "First Button",
            "type": "text",
            "default": "Shop Now"
          }, {
            "id": "second_button",
            "label": "Second Button",
            "type": "text",
            "default": "Primary"
          }
        ],
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "Brand"
      }

    ]
  }
{% endschema %}