{{ 'section-richtext.css' | asset_url | stylesheet_tag }}

<div class="richtext">
  {% for block in section.blocks %}

    <div class="richtext__container">
      {% if block.settings.brand_image.src %}
        <img
          class="richtext__image"
          src="{{ block.settings.brand_image.src | image_url: width:358, height:358 }}"
          alt="Brand Image">
      {% endif %}
      <div class="richtext__description">
        {% if block.settings.country %}
          <div class="richtext__description-country">{{ block.settings.country }}</div>
        {% endif %}
        {% if block.settings.name %}
          <div class="richtext__description-name">{{ block.settings.name }}</div>
        {% endif %}
        <div class="richtext__description-btn-container">
          {% if block.settings.first_button %}
            <button class="richtext__description-btn">{{ block.settings.first_button }}</button>
          {% endif %}
          {% if block.settings.second_button %}
            <button class="richtext__description-btn">{{ block.settings.second_button }}</button>
          {% endif %}
        </div>
      </div>
    </div>

  {% endfor %}
</div>


{% schema %}
  {
    "name": "Rich Text",
    "settings": [
      {
        "type": "text",
        "label": "Talk About Your Brand",
        "id": "brand"
      }
    ],
    "blocks": [
      {
        "name": "Brand",
        "type": "Brand",
        "settings": [
          {
            "id": "brand_image",
            "label": "Pick Image",
            "type": "image_picker"
          },
          {
            "id": "country",
            "label": "Country",
            "type": "text"
          },
          {
            "id": "name",
            "label": "Name",
            "type": "text"
          },
          {
            "id": "first_button",
            "label": "First Button",
            "type": "text"
          }, {
            "id": "second_button",
            "label": "Second Button",
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}